body {
    display: grid;
    justify-content: center;
    background-image: url('../../images/Nutri-bg.png');
    background-repeat: no-repeat;
    object-fit: cover;
    align-items: center;
}

#root {
    width: 1440px;
}

header {
    margin-top: var(--spacing-xl);
}

.content-card {
    display: grid;
    max-width: 496px;
    width: 100%;
    margin: 90px auto;
    background: var(--background-color);
    padding: var(--spacing-xxl);
    border-radius: 16px;

    h4 {
        margin: var(--spacing-s) 0 0;
    }

    .message {
        text-align: center;

        h1 {
            margin-top: var(--spacing-xl);
            text-align: center;
        }

        .content-card {
            &--icon {
                background-color: var(--icon-bg-color);
                width: 32px;
                height: 32px;
                border-radius: 100px;
                padding: var(--spacing-m);
                display: grid;
                align-content: center;
                justify-content: center;
                margin: auto;
                
                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        .primary-link {
            margin-top: 32px;
        }
    }
}