@font-face {
    font-family: Inter;
    src: url('/fonts/inter/Inter-Regular.ttf');
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: Inter;
    src: url('/fonts/inter/Inter-Medium.ttf');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: Poppins;
    src: url('../../../../public/fonts/poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: Poppins;
    src: url('../../../../public/fonts/poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-display: swap;
  }

  h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2.438rem;
    line-height: 2.73rem;
    letter-spacing: -0.063rem;
    color: var(--primary-text-color);
    margin: 0;
  }

  h4 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    color: var(--secondary-text-color);
  }

  p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--secondary-text-color);
  }

  label {
    @extend p;
    font-weight: 500;
  }

  input {
    @extend p;

    ::placeholder  {
        color: var(--input-text-color);
    }
  }