:root {
    //colors
    --primary-text-color: #153C62;
    --secondary-text-color: #1D1D2B;
    --input-text-color: #9496AE;
    --border-color: #EBEEF1;
    --primary-button-color: #153C62;
    --primary-button-disable-color: #ADB9C6;
    --white-text-color: #ffffff;
    --primary-link-color: #315170;
    --background-color: #ffffff;
    --delete-color: #FA2D3A;

    //variables
    --border: 1px solid var(--border-color);
}